.wishlistCard{
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1rem;
    justify-content: space-around;
    margin: auto;
    max-width: 500px;
    margin-bottom: 1rem;
}

.wishlistCard img{
    width: 150px;
    height: 200px;
}

.wishlistCard .productDescription{
    display: flex;
    flex-direction: column;
}

.wishlistCard .productDescription .productName {
    font-weight: bold;
}

.wishlistCard .productDescription .productPrice {
    font-weight: bold;
}

.wishlistCard .productDescription .productAuthor {
    font-weight: light;
    color: rgb(167, 162, 162);
}

.wishlistCard .productDescription .originalPrice {
    font-weight: light;
    color: rgb(167, 162, 162);
    text-decoration: line-through;
}

.wishlistCard .btn-moveToCart {
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #007bb5;
    color: white;
    max-width: 100%;
}

.wishlistCard .btn-remove {
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #007bb5;
    color: white;
    max-width: 100%;
}

.btn-moveToCart:hover {
    cursor: pointer;
}

.btn-remove:hover{
    cursor: pointer;
}