.user-profile-details{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    width: 400px;
    margin: auto;
    height: fit-content;
}
.profile-details{
    display: flex;
    justify-content: space-evenly;
}