.productCard{
    height: 435px;
    width: 250px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}

.productCard img{
    width:100%;
    height: 250px;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.productImage .btn-wishlist{
    font-size: large;
    margin-top: 1rem;
    color: rgb(181, 176, 176);
    height: 25px;
    padding: 2px;
    border: none;
    background-color:transparent;
}

.productImage .btn-wishlist:hover{
    color: red;
}

.productImage{
    display: flex;
    justify-content: space-evenly;
}

.productCard .productDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2px;
    text-align: left;
}

 .productCard .productDescription .product-author-rating{
    display: flex;
    justify-content: space-around;
    
 }

 .productCard .productDescription .product-desc-details {
     margin-left: 25px;
 }

.productCard .product-desc-price{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 8px;
    position: relative;
    top: -25px;
}

.productCard .productDescription .productName {
    font-weight: bold;
    font-size: 12px;
}

.productCard .productDescription .productPrice {
    font-weight: bold;
}

.productCard .productDescription .productAuthor {
    font-weight: light;
    color: rgb(167, 162, 162);
}

.productCard .product-desc-price .originalPrice {
    font-weight: light;
    color: rgb(167, 162, 162);
    text-decoration: line-through;
}

.productCard .productRating{
    background-color: #20aa20;
    color: white;
    padding: 4px;
    margin: 20px;
    height: 3vh;
    width: fit-content;
    border-radius: 5px;
}

.productCard .btn-addToCart{
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #007bb5;
    color: white;
    max-width: 100%;
    position: relative;
    top: -25px;
}

.productCard .btn-addToCart:hover {
    cursor: pointer;
}

.btn-wishlist:hover{
    cursor: pointer;
}

.productCard img:hover {
   cursor: pointer;
}

@media (max-width: 768px){
    .productCard{
        max-width: 200px;
        height: max-content;
        
    }

    .productCard img {
        width: 100px;
        height: 150px;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    .productCard .productDescription {
        display: flex;
        justify-content: space-evenly;
        line-height: 5px;
        text-align: left;
    }

    .productCard .product-desc-details{
        display: flex;
        flex-direction: column;
        line-height: 0.5px;
    }

    .productCard .productRating {
        background-color: #20aa20;
        color: white;
        padding: 4px;
        margin: 20px;
        height: 3vh;
        width: fit-content;
        border-radius: 5px;
    }

    .productCard .btn-addToCart {
        margin: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
        background-color: #007bb5;
        color: white;
        max-width: 100%;
        position: relative;
        top: 0px;
    }
}


